<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="midascash.indonesia.optima.prima.midascash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".splashscreen"
            android:theme="@style/NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
        android:screenOrientation="portrait"></activity>
        <activity android:name=".transactionactivity.categorylist"
            android:label="Category"
            android:theme="@style/AppThemeactionbar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".transactionactivity.accountlist"
            android:label="Accounts"
            android:theme="@style/AppThemeactionbar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".transactionactivity.income"
            android:label="Income"
            android:theme="@style/AppThemeactionbargreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".transactionactivity.expense"
            android:theme="@style/AppThemeactionbarred"
            android:label="Expense"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".transactionactivity.transfer"
            android:theme="@style/AppThemeactionbarorange"
            android:label="Transfer"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".transactionactivity.reminderdata"
            android:theme="@style/AppThemeactionbar"
            android:label="Reiminder"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".reports.accountsandcategory"
            android:theme="@style/AppThemeactionbar"
            android:label="Accounts"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".reports.cashflow"
            android:theme="@style/AppThemeactionbar"
            android:label="Cash Flow"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".reports.chartofbalance"
            android:theme="@style/AppThemeactionbar"
            android:label="Report By Chart"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".reports.schedulelist"
            android:theme="@style/AppThemeactionbar"
            android:label="Schedules"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".reports.summary"
            android:theme="@style/AppThemeactionbar"
            android:label="Summary"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".help"
            android:theme="@style/AppThemeactionbar"
            android:label="Summary"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".about"
            android:theme="@style/AppThemeactionbar"
            android:label="Summary"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".firstpage"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".transactionactivity.listexpense"
            android:theme="@style/AppThemeactionbarred"
            android:label="Expense List"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".transactionactivity.listincome"
            android:theme="@style/AppThemeactionbargreen"
            android:label="Income List"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".transactionactivity.listtransfer"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".administrator.Mainadministrator"
            android:theme="@style/AppTheme"
            android:label="Administrator Panel"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".transactionactivity.modify.editexpense"
            android:theme="@style/AppThemeactionbarred"
            android:label="Edit Expense"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".transactionactivity.modify.editexpensesch"
            android:theme="@style/AppThemeactionbarred"
            android:label="Edit Scheduled Expense"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".transactionactivity.modify.editincome"
            android:theme="@style/AppThemeactionbargreen"
            android:label="Edit Income"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".transactionactivity.modify.editincomesch"
            android:theme="@style/AppThemeactionbargreen"
            android:label="Edit Scheduled Income"
            android:screenOrientation="portrait"></activity>


        <receiver android:name=".alarmnotification.alarmreceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>