<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="midascash.indonesia.optima.prima.midascash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashscreen"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".transactionactivity.categorylist"
            android:label="Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".transactionactivity.accountlist"
            android:label="Accounts"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".transactionactivity.income"
            android:label="Income"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbargreen" />
        <activity
            android:name=".transactionactivity.expense"
            android:label="Expense"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbarred" />
        <activity
            android:name=".transactionactivity.reminderdata"
            android:label="Reiminder"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".reports.accountsandcategory"
            android:label="Accounts"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".reports.cashflow"
            android:label="Cash Flow"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".reports.chartofbalance.chartofbalance"
            android:label="Report By Chart"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".reports.schedulelist"
            android:label="Schedules"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".reports.summary"
            android:label="Summary"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".help"
            android:label="Summary"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".about"
            android:label="Summary"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".firstpage"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".transactionactivity.listexpense"
            android:label="Expense List"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbarred" />
        <activity
            android:name=".transactionactivity.listincome"
            android:label="Income List"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbargreen" />
        <activity
            android:name=".transactionactivity.modify.editexpense"
            android:label="Edit Expense"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbarred" />
        <activity
            android:name=".transactionactivity.modify.editexpensesch"
            android:label="Edit Scheduled Expense"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbarred" />
        <activity
            android:name=".transactionactivity.modify.editincome"
            android:label="Edit Income"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbargreen" />
        <activity
            android:name=".transactionactivity.modify.editincomesch"
            android:label="Edit Scheduled Income"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbargreen" />
        <activity
            android:name=".transactionactivity.listtransfer"
            android:label="Transfer list"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbarorange" />

        <receiver
            android:name=".alarmnotification.alarmreceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".administrator.main_administrator"
            android:label="Administrator Panel"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".extramenuactivity.accounttransactions"
            android:label="Accounts Statistics"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".extramenuactivity.accountsstatistic"
            android:label="Account History"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeactionbar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>